<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
		  name="DefaultConnection"
		  connectionString="Data Source=ALE_GIORGIO\SQLEXPRESS ;Initial Catalog=TP_Ing_De_Software;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>